.navbar-container {
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 95px;

}

.menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}