.summary-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 35px;
    box-sizing: border-box;
}

.summary-progressCircle {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#charge-terminated {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #171D21;
}

.summary-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.upper-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
}

.stats-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFCBDF;
    border-radius: 8px;
    width: 100%;
    padding: 12px 0px;
}

#item-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

#stats-value {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #007ACD;
}

#save-stats {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

#continue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    gap: 8px;
    width: 100%;
    height: 52px;
    background: #007ACD;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    margin-top: 80px;
}